* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.playing_field {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.wgs {
	display: inline-block;
	height: 200px;
	width: 250px;
	position: relative;
	background-color: red;
	overflow: hidden;
}
.wgs__mole-head {
	width: 150px;
	position: absolute;
	margin: 0 auto;
	left: 10%;
	transition: margin-top 0.25s;
}
.wgs__mole-head--hidden {
	margin-top: 200px;
}
.wgs__dirt-pile {
	height: 100px;
	width: 250px;
	position: absolute;
	bottom: 0;
}

.sb {
	background-color: cornflowerblue;
	border-bottom: 1px solid #645ded;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	color: white;
	display: flex;
	font-size: 30px;
	margin-bottom: 50px;
	padding: 10px 20px;
}

.sb__mole-counter {
	flex: 1 0 0;
	text-align: right;
}

.sb__score-holder {
	flex: 1 0 0;
}

.sb__game-over--hidden {
	display: none;
}
